<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>0x00</string>
	<key>s</key>
	<string>0x01</string>
	<key>d</key>
	<string>0x02</string>
	<key>f</key>
	<string>0x03</string>
	<key>h</key>
	<string>0x04</string>
	<key>g</key>
	<string>0x05</string>
	<key>z</key>
	<string>0x06</string>
	<key>x</key>
	<string>0x07</string>
	<key>c</key>
	<string>0x08</string>
	<key>v</key>
	<string>0x09</string>
	<key>b</key>
	<string>0x0B</string>
	<key>q</key>
	<string>0x0C</string>
	<key>w</key>
	<string>0x0D</string>
	<key>e</key>
	<string>0x0E</string>
	<key>r</key>
	<string>0x0F</string>
	<key>y</key>
	<string>0x10</string>
	<key>t</key>
	<string>0x11</string>
	<key>1</key>
	<string>0x12</string>
	<key>2</key>
	<string>0x13</string>
	<key>3</key>
	<string>0x14</string>
	<key>4</key>
	<string>0x15</string>
	<key>6</key>
	<string>0x16</string>
	<key>5</key>
	<string>0x17</string>
	<key>=</key>
	<string>0x18</string>
	<key>9</key>
	<string>0x19</string>
	<key>7</key>
	<string>0x1A</string>
	<key>-</key>
	<string>0x1B</string>
	<key>8</key>
	<string>0x1C</string>
	<key>0</key>
	<string>0x1D</string>
	<key>]</key>
	<string>0x1E</string>
	<key>o</key>
	<string>0x1F</string>
	<key>u</key>
	<string>0x20</string>
	<key>[</key>
	<string>0x21</string>
	<key>i</key>
	<string>0x22</string>
	<key>p</key>
	<string>0x23</string>
	<key>l</key>
	<string>0x25</string>
	<key>j</key>
	<string>0x26</string>
	<key>&apos;</key>
	<string>0x27</string>
	<key>k</key>
	<string>0x28</string>
	<key>;</key>
	<string>0x29</string>
	<key>\</key>
	<string>0x2A</string>
	<key>,</key>
	<string>0x2B</string>
	<key>/</key>
	<string>0x2C</string>
	<key>n</key>
	<string>0x2D</string>
	<key>.</key>
	<string>0x2F</string>
	<key>`</key>
	<string>0x32</string>
	<key>SpaceBar</key>
	<string>0x31</string>
	<key>Control</key>
	<string>0x3B</string>
	<key>Option</key>
	<string>0x3A</string>
	<key>Escape</key>
	<string>0x35</string>
	<key>Shift</key>
	<string>0x38</string>
	<key>Tab</key>
	<string>0x30</string>
	<key>Return</key>
	<string>0x24</string>
	<key>ArrowUp</key>
	<string>0x7E</string>
	<key>ArrowDown</key>
	<string>0x7D</string>
	<key>ArrowLeft</key>
	<string>0x7B</string>
	<key>ArrowRight</key>
	<string>0x7C</string>
</dict>
</plist>
